
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
